<! DOCTYPE HTML >
<html>
	<head>
		<title>
		Django Bookmarks | {% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="/site_media/blueprint/screen.css">
		<link rel="stylesheet" type="text/css" href="/site_media/style.css">
	</head>
	<body>
	<div class="container">
		<div id="nav">
			<a href="/">Home</a> | 
			{% if user.is_authenticated %}
				Welcome {{ user.username }}! | 
				<a href="/logout/">Logout</a>
			{% else %}
				<a href="/login/">Login</a> | 
				<a href="/register/">Register</a>
			{% endif %}
		</div>
		<h1>{% block head %}{% endblock %}</h1>
		<hr>
		{% block content %} {% endblock %}
	</div>
	</body>
</html>